<!DOCTYPE html>
<html>
    <head>
        <title>Editar publicación</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
        {% if cambio %}
        <meta http-equiv="refresh" content="2; url=/" />
        {% endif %}
    </head>
    <body>
        {% if not cambio %}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Cambiar contraseña</div>
                    <div class="panel-body">
                        <form method="POST" action="/publicador/cambia_contrasena" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="id_email">E-mail</label>
                                <input class="form-control" id="id_email" name="email_texto" value="{{ cuenta.email }}" required />
                            </div>
                            <div class="form-group">
                                <label for="id_nombre">Password</label>
                                <input class="form-control" id="id_password" name="password_texto" required />
                            </div>
                            <input class="btn btn-default" type="submit" id="enviar" />
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <h1 class="text-center">La contraseña ha sido cambiada.</h1>
        {% endif %}
    </body>
</html>

