<!DOCTYPE html>
<html>
    <head>
        <title>Editar publicación</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Editar publicación</div>
                    <div class="panel-body">
                        <form method="POST" action="/publicador/{{ publicacion.id }}/guarda_publicacion" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="id_grupo">Grupo de Facebook</label>
                                <input class="form-control" id="id_grupo" name="grupo_texto" value="{{ publicacion.grupo }}" placeholder="Grupo de Facebook" required />
                            </div>
                            <div class="form-group">
                                <label for="id_nombre">Nombre del producto</label>
                                <input class="form-control" id="id_nombre" name="nombre_texto" value="{{ publicacion.nombre }}" placeholder="Nombre" required />
                            </div>
                            <div class="form-group">
                                <label for="id_precio">Precio del producto</label>
                                <input class="form-control" id="id_precio" name="precio_texto" value="{{ publicacion.precio }}" placeholder="Precio" type="number" required />
                            </div>
                            <div class="form-group">
                                <label for="id_descripcion">Descripcion del producto</label>
                                <input class="form-control" id="id_description" name="descripcion_texto" value="{{ publicacion.descripcion }}" placeholder="Descripcion" />
                            </div>
                            <input class="btn btn-default" type="submit" id="enviar" />
                            {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

