<!DOCTYPE html>
<html>
    <head>
        <title>Publicador de ventas de facebook</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <p class="navbar-text navbar-right"><a href="/publicador/cambia_contrasena" class="navbar-link">Cambiar contraseña</a></p>
                </div>
            </div>
        </nav>
        <div class="wrapper container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">Realizar publicación</div>
                        <div class="panel-body">
                            <form method="POST" action="/publicador/crea_publicacion">
                                <div class="form-group">
                                    <label for="id_grupo">Grupo de Facebook</label>
                                    <input type="text" class="form-control" id="id_grupo" name="grupo_texto" required />
                                </div>
                                <div class="form-group">
                                    <label for="id_nombre">Nombre del producto</label>
                                    <input type="text" class="form-control" id="id_nombre" name="nombre_texto" required />
                                </div>
                                <div class="form-group">
                                    <label for="id_precio">Precio del producto</label>
                                    <input type="number" class="form-control" id="id_precio" name="precio_texto" min="1" required />
                                </div>
                                <div class="form-group">
                                    <label for="id_descripcion">Descripcion del producto</label>
                                    <textarea class="form-control" id="id_description" name="descripcion_texto"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="id_num_fotos">Número de fotos</label>
                                    <input class="form-control" id="id_num_fotos" name="num_fotos" type="number" min="0" value="0" />
                                </div>
                                <div class="form-group">
                                    <label for="id_num_publicaciones">Número de veces a publicar</label>
                                    <input class="form-control" id="id_num_publicaciones" name="num_publicaciones" type="number" min="1" value="1" />
                                </div>
                                    <input class="btn btn-default" type="submit" id="enviar" />
                                {% csrf_token %}
                            </form>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">Publicaciones</div>
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <th>
                                        #
                                    </th>
                                    <th>
                                        Publicación
                                    </th>
                                    <th>
                                        Estado
                                    </th>
                                </tr>
                                {% for publicacion, enviado in pe %}
                                {% if enviado %}<tr class="success">{% else %}<tr>{% endif %}
                                    <td><a href="/publicador/{{ publicacion.id }}/ver_publicacion">{{ publicacion.id }}</a></td>
                                    <td>{{ publicacion.nombre }}</td>
                                    <td>{% if enviado %}Enviado{% else %}No enviado{% endif %}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
