<!DOCTYPE html>
<html>
    <head>
        <title>Publicar</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <h1 class="text-center">{{ header }}</h1>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Publicación</div>
                    <div class="panel-body">
                        <dl class="dl-horizontal">
                            <dt>Grupo</dt>
                            <dd>{{ publicacion.grupo }}</dd>
                            <dt>Nombre del artículo</dt>
                            <dd>{{ publicacion.nombre }}</dd>
                            <dt>Precio del artículo</dt>
                            <dd>{{ publicacion.precio }}</dd>
                            <dt>Descripción</dt>
                            <dd>{{ publicacion.descripcion }}</dd>
                            <dt>Estado</dt>
                            {% if enviado %}
                            <dd>Enviado</dd>
                            {% else %}
                            <dd>No enviado</dd>
                            {% endif %}
                            <dt>Horas de publicación</dt>
                            {% for fecha in fechas %}
                            <dd>{{ fecha }}</dd>
                            {% endfor %}
                        </dl>
                    </div>
                    <div class="panel-body">
                        <div class="container">
                        {% for imagen in imagenes %}
                            <div class="col-md-4">
                                <img src="/{{ imagen }}" class="img-thumbnail" width="300px" /> <br />
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
