<!DOCTYPE html>
<html>
    <head>
        <title>Indicar fotos y fechas</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading">Realizar publicación</div>
                    <div class="panel-body">
                        <form method="POST" action="/publicador/{{ publicacion.id }}/guarda_publicacion" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="id_grupo">Grupo de Facebook</label>
                                <input class="form-control" id="id_grupo" name="grupo_texto" value="{{ publicacion.grupo }}" placeholder="Grupo de Facebook" required />
                            </div>
                            <div class="form-group">
                                <label for="id_nombre">Nombre del producto</label>
                                <input class="form-control" id="id_nombre" name="nombre_texto" value="{{ publicacion.nombre }}" placeholder="Nombre" required />
                            </div>
                            <div class="form-group">
                                <label for="id_precio">Precio del producto</label>
                                <input class="form-control" id="id_precio" name="precio_texto" value="{{ publicacion.precio }}" placeholder="Precio" type="number" required />
                            </div>
                            <div class="form-group">
                                <label for="id_descripcion">Descripcion del producto</label>
                                <input class="form-control" id="id_description" name="descripcion_texto" value="{{ publicacion.descripcion }}" placeholder="Descripcion" />
                            </div>
                                {% for k in range_imagenes %}
                            <div class="form-group">
                                <label for="id_image{{ k }}">Imagen {{ k|add:"1" }}</label>
                                <input id="id_imagen{{ k }}" name="imagen" type="file" accept="image/*" required />
                            </div>
                                {% endfor %}
                                {% for k in range_fechas %}
                            <div class="form-group">
                                <label for="id_image{{ k }}">Fecha y hora de publicación {{ k|add:"1" }}</label>
                                <input class="form-control" id="id_fecha{{ k }}" name="fecha" type="datetime-local" required />
                                <p class="help-block">De no estar usando Chrome, usar formato AAAA-MM-DDTHH:MM, eg. 1999-12-30T19:34</p>
                            </div>
                                {% endfor %}
                                <input class="form-control" type="submit" id="enviar" />
                                {% csrf_token %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
